<!-- form to create a new restaurant -->
<!-- action is the url that will be called when the user clicks the submit button  -->
<form action="/restaurants/create" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
  </div>
  <div>
    <label for="description">Description</label>
    <textarea id="description" name="description"></textarea>
  </div>
  <input type="submit">
</form>
